*{
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    background-color: black;
    background-size: cover;
    color: azure;

}

.container{
    
    padding: 20px;
    background-color: black;
    box-shadow: 1px 1px red;
    border-radius: 8px;
    margin-top: 70px;
}

.container input{
    height: 50px;
    width: 500px;
    background-color: transparent;
    outline: none;
    border: solid 2px rgb(193, 2, 2);
    padding: 0px 15px ;
    font-size: 18px;
    color: red;
}

.container p button{
    height: 50px;
    width: 500px;
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.container h3{
    color: rgb(255, 2, 2);
    font-size: 25px;
    text-align: center;
}

.phrase{
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(0, 0, 0);
    border-bottom: solid 2px red;
    border-top: solid 2px red;
}
.phrase p{
    color: rgb(142, 142, 142);
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.fin{
    width: 100%;
    padding-top: 200px;
    border-radius: 20px;
    color: rgb(142, 142, 142);
    font-weight: bold;
    font-size: larger;
    text-align: center;

}

@media screen and (max-width : 500px){
    .container{
    
        padding: 20px;
        background-color: black;
        box-shadow: 2px 2px red;
        border-radius: 4px;
        margin-top: 70px;
    }
    .container input{
        height: 50px;
        width: 300px;
    }
    .container h3{
        font-size: 20px;
    }
    .container p button{
        height: 50px;
        width: 300px;
    }
    .fin{
        padding-top: 100px;
    }

       
}

